body {
    background-image: url("../images/freestocks-org-AjTs6TS3k_w-unsplash.jpg");
    width: 100%;
    height: 100%;
}

.gifDisplay, .newButton, .buttons {
    display: flex;
    flex-flow: row wrap;
    font-family: 'Noticia Text', serif;
    font-size: 16px;
}

.gifs, .gifBtn, .newButton, .newBtnStyle {
    margin: 5px;
}

/* button form */
.newButton {
    margin-left: 20px;
}

/* instructions, but you probably figured that out from the class name */
.instructions {
    margin-right: 40px;
    font-family: 'Noticia Text', serif; 
    font-size: 16px;
}

/* add your own animal button label text styles */
.newBtnStyleText {
    padding-top: 4px;
}

/* title bar */
.topBar {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(219,220,223, 0.2);
    /* opacity: 0.2; */
}

/* buttons section */
.buttons {
    border: 1px solid black;
}

/* individual gif styles */
.gifs {
    border: 1px solid black;
}

/* gif buttons */
.gifBtn {
    background-color: rgb(123,81,140);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

/* git images */
/* .gifPortrait {

} */

/* overall gif area */
/* .gifDisplay {

} */